  .btn-close {
        display: none !important;
    }
/* Основные стили модалки */
.custom-dark-modal .modal-content {
    background-color: #202020;
    border: 1px solid #333;
    border-radius: 8px;
    color: #eee;
}

/* Стили для заголовка */
.custom-modal-header {
    background-color: #353535;
    padding: 15px 50px 15px 20px; /* Правое padding больше для кнопки */
    border-radius: 8px 8px 0 0;
    position: relative;
}

.custom-modal-header .modal-title {
    color: #f0f0f0;
    font-weight: 500;
    margin-right: 10px;
}

/* Кастомная кнопка закрытия */
.custom-modal-header .modal-close-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.custom-modal-header .modal-close-btn::before,
.custom-modal-header .modal-close-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #bbb;
    transition: all 0.3s ease;
}

.custom-modal-header .modal-close-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.custom-modal-header .modal-close-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.custom-modal-header .modal-close-btn:hover::before,
.custom-modal-header .modal-close-btn:hover::after {
    background-color: #ab572d;
    height: 3px;
}

/* Остальные стили */
.custom-modal-body {
    padding: 20px;
    background-color: #202020;
}

.custom-modal-footer {
    background-color: #2a2a2a;
    padding: 15px 20px;
    border-radius: 0 0 8px 8px;
    text-align: right;
    border-top: none;
}

.btn-avatar-save {
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-avatar-save:hover {
    background-color: #000000;
    color:  #fefefe;
}

.card{
    background-color: #1a1a1a;
}
