.card {
    border: none;
    border-radius: 15px; /* Теперь такой же, как у кнопки */
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-left: 8px solid linear-gradient(180deg, #a74311, #ab572d);
    padding-left: 0;
}

/* Градиентная линия слева */
.card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10px;
    background: linear-gradient(90deg, #a74311, #ab572d);
    z-index: 1;
    transition: width 0.3s ease;
}

.card:hover::before {
    width: 15px;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: transparent !important;
    color: #fff;
    font-weight: 600;
    padding: 1rem 1.5rem;
    position: relative;
    z-index: 2;
    background: linear-gradient(135deg, #a74311, #ab572d);
    border-bottom: none;
}

.card-body {
    position: relative;
    z-index: 2;
    padding: 1.5rem;
    color: #2c2c2c;
}

.card-title {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.6rem;
    font-weight: 600;
}

.card-text {
    color: #666;
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
}

.btn-shows-style {
  background-color: #ab572d;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 1px;
  align-self: flex-start;
}

.btn-shows-style:hover {
  border-color: #ab572d !important;
  border-width: 2px;
  color: #ab572d;
  background-color: #ffffff;
}