.categories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 8px;
}

.category-card {
  
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  text-decoration: none;
  color: inherit;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.category-card:hover {
  transform: translateY(-20px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.category-card .card-img-top {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.category-card .card-body {
  height: 25%;
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  color: #cfcfcf;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Адаптация */
@media (max-width: 2000px) {
  .categories-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
  }
}

@media (max-width: 992px) {
  .categories-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

@media (max-width: 576px) {
  .categories-grid {
    grid-template-columns: 1fr;
    max-width: 200px;
  }
}