.categories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.category-card {
  position: relative;
  padding: 50px 14px;
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  transition: all 0.2s ease;
}

.category-card:hover {
  transform: translateY(-2px);
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1.4;
}

.category-card .card-img-top {
  width: 100%;
  object-fit: cover;
}

.category-card .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 17px; */
}

.card-text:last-child {
  background: rgba(0, 0, 0, 0.525);
  height: 80px;
  width: 100%;
  max-width: 384px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-family: "TenorSans", serif;
  font-size: 23px;
}

/* Адаптация */
@media (max-width: 2000px) {
  .categories-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .categories-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

@media (max-width: 576px) {
  .categories-grid {
    grid-template-columns: 1fr;
    max-width: 200px;
  }
}
