.position-relative {
    position: relative;
    display: inline-block;
}

.position-relative a {
    display: block;
    text-decoration: none;
}

.position-relative img {
    width: 24px;
    height: 24px;
}

#cart-item-count { 
    position: absolute;
    top: -8px;
    right: -16px;
    color: white;
}