.charts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}


.chart-container {
    width: 900px; 
    max-width: 95%;
    height: 600px; 
    margin: 0 auto;
    padding: 20px;
}

.chart-container-pie {
    width: 700px; 
    max-width: 95%;
    height: 00px; 
    margin: 0 auto;
    padding: 20px;
}

canvas#paymentTypeChart {
    max-width: 100% !important;
    height: 600px !important;
}

.chart-container-half {
    width: 50%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

