#main {
  animation: main 1s ease 1;
}

@keyframes main {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.is-invalid {
  animation: is-invalid 1s ease 1;
}

@keyframes is-invalid {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }
}

.is-valid {
  animation: is-valid 1s ease 1;
}

@keyframes is-valid {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-20px);
  }
}

.invalid-feedback {
  animation: invalid-feedback 1s ease 1;
}

@keyframes invalid-feedback {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }
}

.alert-count {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: none;
}
